body{
	margin: 0px;
	padding: 0px;
	background:#EEEEEE;
}
#header{
	position:fixed;
	top:0px; 
	margin:20px;
	display: flex;
	width: 100%;
	flex-wrap: nowrap;
	justify-content:space-between;
}
#header-img{
	width:300px;
	position: relative;
	top:10px;
}
#nav-bar{
	width:600px;
	max-width:100%;
	display: flex;
	justify-content: flex-end;
}
#nav-bar ul{
	list-style-type: none;
	margin-right: 30px;
	width:70%; 
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
#nav-bar ul li .nav-link{
	text-align: center;
	display: inline-block; 
	width:100px;
	margin:auto;
	text-decoration: none;
	color:black;
}

@media screen and (max-width: 500px){
	#header{
		flex-wrap: wrap;
 		flex-direction: column;
 		justify-content: center;
 		align-items: center;
 		margin:0px auto;
 		background:#eee; 
 		z-index:1;
 	}
 	#header-img{
 		width:100%;
 		max-width: 250px; 
  	}
 	#nav-bar {
 		justify-content: center;
 		width:50%;
 	}
 	#nav-bar ul li a{
 		margin-top: 10px;
 	}
 	main{
 		width: 100% !important;	
 	}
}
main{
	width:80%;
	margin: 130px auto 0px;
}
.s-1{
	margin-top:30px; 
	text-align:center;
	width:100%; 
}
section input[type=email]{
	height:20px;
	max-width:270px; 
	width:80%;
}
input[type=submit]{
	display: block;	
	margin-top: 10px;
	background: #EECE10FF;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: bolder;
	border:0px solid transparent;
	height:30px; 
	padding:10px;
	padding-bottom:25px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	border-radius:4px;
}
input[type=submit]:hover{
	background: rgb(255,140,0);	
	transition: background 1.3s;
}
.main-container{
	width: 100%;
	margin:40px auto; 
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;	
}
.icon{
	width:20%;
	align-self: center;
	text-align: center;
	font-size: 15px;
	color: orange;
	margin-bottom: 20px;
}
.i-1{
	order:0;
}
.descrp{
	width:80%; 
	margin-bottom: 20px;
}
.descrp p{
	margin-top:-15px;
}
.d-1{
	order:1;
}
.i-2{
	order:2;
}
.d-2{
	order:3;
}
.i-3{
	order:4;
}
.d-3{
	order:5;
}
@media screen and (max-width: 550px){
	.icon{
		display: none;
	}
	.descrp{
		width: 100%;
		text-align: center;
	}
}
.info{
	width:90%;
	display: flex;
	justify-content: center;
	margin:auto;
	margin-bottom: 50px;
}
.price{
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	width:80%;
	margin: auto;
	margin-top: 50px;
}
.price .equip{
	width:32%;
	border:1px solid black;
	margin:auto;
}
.price .equip-head{
	background:#ddd;
	width:100%;
	height:40px;
	margin-top: -22px;
}
.price h4{
	position: relative;
	top:10px;
}
.price input[type=submit]{
	width:100px;
	margin-bottom: 20px;
}
@media screen and (max-width: 800px){
	.price{
		flex-direction: column;	
	}
	.price .equip{
		width:70%;
		margin-bottom:50px;
		min-width: 250px;
	}
}
footer{
	margin-top:30px;
	background:#ddd;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	flex-wrap: nowrap;
}
footer ul {
	list-style: none;
	margin: 8px;
}
footer ul li {
	display: inline-block;
	width:70px;
}
footer ul li a{
	color:#000;
	text-decoration: none;
}
footer p {
	margin: 0px;
	margin-bottom: 8px; 
	align-self: flex-end;
	text-align: right;
}